
@media screen and (max-width:576px){
    nav ,.menu-item ul{
        flex-direction: column;
    }
    .menu-item {width: 100%;}
    .menu-item li{margin: 18px 0px; }
    .menu-item .follow-us { padding: 8px 10px;}
    .fa-brands {margin-left: 0.3rem;}
     /* nav responsive end */
    
}
@media screen and (min-width:576px) and (max-width:924px){
    nav ,.menu-item ul{
        flex-direction: column;
    }
    .menu-item {
        width: 100%;
    }
    .menu-item li{
        margin: 15px 0px;
    }
}